.container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  box-sizing: border-box;

  .title {
    margin-bottom: 0;
  }

  .sectionHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .addBtn {
      background-color: #16521c;
      border: none;
      border-radius: 1.25rem;
      color: white;
      font-weight: bold;
      padding: 0.75rem;
      font-size: 0.875rem;
      cursor: pointer;
    }
  }
  
  .cardsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 601px){
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 1rem;
      justify-items: center;
    }
  }
}

.loaderContainer{
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}