.patientCard {
  @media (max-width: 600px){
    width: 15rem;
  }
  display: inline-flex;
  border: 0.125rem solid;
  border-radius: 0.5rem;
  flex-direction: column;
  margin: 0 1rem 2rem 1rem;
  width: 20rem;
  height: 18.75rem;
  position: relative;
  align-self: start;
  transition: height 0.5s ease;
  overflow: hidden;
  .patientData {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .patientShortData {
      align-items: center;
      display: grid;
      padding: 0 1rem;
      .avatar {
        width: 7rem;
        height: 7rem;
        margin: 1rem 0;
        border-radius: 3.5rem;
        justify-self: center;
      }
    }
    .patientDetails {
      padding: 0 1rem;

      .description {
        margin-bottom: 1rem;
        max-height: 200px;
        overflow-y: auto;
      }

      .description::-webkit-scrollbar {
        width: 3px;
      }

      .description::-webkit-scrollbar-track {
        background: transparent;
      }

      .description::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 10px;
      }

      .details {
        margin-bottom: 1rem;
      }

    }
    .label {
      color: #7f7f7f;
      font-weight: 500;
      font-size: 0.875rem;
      margin: 0;
    }
    .data {
      font-weight: 600;
      font-size: 1rem;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  .patientInteractives {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
  }
}

.btnIcon {
  background-color: transparent;
  border: none;
  padding: 0;
  .chevron {
    width: 2.5rem;
    transform: rotate(180deg);
    transition: transform 0.5s ease-out;
    display: flex;
    margin: auto;
  }
  .chevron.showingDetails {
    transform: rotate(0deg);
  }
  .edit {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
.patientCard.showingDetails{
  height: 35.625rem;
}